  <div id="tfheader">
    <div id="center-container">
      <img src="Sighomes-Logo-350.jpg" alt="Signature Homes" />

      <h3>Download Accrual Report</h3>

      <!-- <div id="spinner" style="display:none;">
        <img src="ajax-loader.gif" height="200" />
      </div>  -->

      <form id="tfnewsearch" method="post" action="/">
        <label class="label">Company:</label>
        <select id="tfq" class="tftextinput2" name="company">
           <option>Select Company</option>
           <option value="0002">0002 - NSH Corp dba Signature Homes</option>
           <option value="0003">0003 - SAWABE Properties, LLC</option>
           <option value="0004">0004 - Baron Partners, LLC</option>
           <option value="0005">0005 - A &amp; D Properties, LLC</option>
           <option value="0006">0006 - SIGNATURE HOMES - LOUISIANA</option>
           <option value="0007">0007 - MZ Land, LLC</option>
           <option value="0008">0008 - Shoppes at Lawson Ridge, LLC</option>
           <option value="0009">0009 - TRE, LLC</option>
           <option value="0010">0010 - NSH-Nashville, LLC</option>
           <option value="0011">0011 - SB Holding Corp</option>
           <option value="0012">0012 - SB DEV Corp</option>
        </select>
        <div class="tfclear"></div>
        <label class="label">Cutoff Date:</label>
        <input type="text" id="datepicker" class="tftextinput2" name="cutoff" />
        <div class="tfclear"></div>
        <input type="submit" value="Download" id="submit">
      </form>
      <div class="tfclear"></div>
      <div id="copyright">&copy; 2016 NSH Corp dba Signature Homes</div>
    </div>
  </div>

<!--
  <script>
    document.querySelector("#submit").addEventListener("click", function(){
      document.querySelector("#spinner").style.display = "block";
    });
  </script>
  -->